
.enterprise__reinvention{
    display: flex;
    justify-content: center;
    position: relative;
}

.enterprise__reinvention-container{
    max-width: min(1080px,95vw);
    margin-top: 128px;
    position: relative;
}

.enterprise__reinvention-agility-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;
}


.agility-subtitle{
    color: #635BFF;
    font-size: 16.45px;
    line-height: 28px;
    letter-spacing: 0.2px;
    display: inline-block;
}

.agility-title{
    font-size: 34.73px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #0A2540;
    font-weight: normal;
    margin: 0;
}

.agility-text{
    color: #425466;
    font-size: 16.45px;
    line-height: 28px;
    letter-spacing: -0.2px;
    max-width: 720px;
    margin: 0;
}

.agility-link{
    color: #635BFF;
    text-decoration: none;
}

.agility-button{
    background-color: #635BFF;
    border: none;
    color: #FFFFFF;
    width: 139.2px;
    height: 33px;
    border-radius: 16.5px;
    font-size: 13.95px;
    cursor: pointer;
}

.enterprise__reinvention-customers{
    display: flex;
    gap: 48px;
}

.enterprise__text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.customers__working-years{
    display: block;
    color: #0A2540;
    font-size: 24px;
    line-height: 31.9px;
    letter-spacing: 0.2px;
    padding-left: 15px;
    border-left: 1px solid #635BFF;
}

.customers-text{
    max-width: 202px;
    font-size: 13.83px;
    color: #425466;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding-left: 16px;
}

.customers__products{
    display: block;
    color: #0A2540;
    font-size: 13.95px;
    padding-left: 15px;
    border-left: 1px solid #635BFF;
    margin-bottom: 24px;
}

.product__1,.product__2{
    display: block;
    margin-left: 36px;
    color: #425466;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.product__1::before{
    content: url(../media/payments--icon.svg);
    vertical-align: middle;
    margin-right: 14px;
}


.product__2::before{
    content: url(../media/connect--icon.svg);
    vertical-align: middle;
    margin-right: 14px;
}

.customers__image-content{
    position: relative;
    /* background-image: url(../media/amazon_delivery.jpeg); */
    /* max-width: 50vw; */
    max-height: 500px;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 20px;
    /* mask-image: linear-gradient(#00000091,#00000077,rgb(255, 255, 255),#0000006e,#00000081); */
    margin-bottom: 20px;
}

.customers__image-content img{
    max-width: 810px;
    max-height: 500px;
    border-radius: 20px;
}


.customers__image-content-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 810px;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(to top,#e5a22ed2 10%,#e5a22e7e,#e5a22e7a ,#e5a22e7e,#e5a22ed2 90%);
    z-index: 2;
}

.customers__list{
    display: flex;
    margin: 100px 0;
}