
:root {
    --ms-width: 1080px;
    --ms-h2: 51px;
    --ms-p: 17.5px;
    --ms-h2-lh: 68px;
    --ms-p-lh: 28px;
    --nav-txt-clr: rgba(255, 255, 255, 1);
    --header-width: 1080px;
    --h1-txt-clr: #3a3a3a;
    --h1-fs: 83.35px;
    --paragraph-clr: #425466;
    --fs-btn-clr: #0a2540;
    --paragraph-fs: 16.45px;
  }
  
  body {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden ;
    font-family: "Inter", serif;
  }
  main{
    width: 100vw;
  }


  .header__background-img {
    /* position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    & img{
      width: 100%;
      aspect-ratio: 1920/840;
    } */
     width: 100vw;
     /* background-image: url(../media/header__background_image.png); */
     /* background-position: center; */
     background-repeat: no-repeat;
     display: flex;
    align-items: center;
    flex-direction: column;
    scrollbar-width: none;
    overflow: hidden ;
    position: relative;
     
  }
  
  .header__logo-nav {
    
    height: 68px;
    display: flex;
    align-items: center;
    & nav ul {
      list-style: none;
      display: flex;
      gap: 3vw;
    }
    & svg {
      width: 68px;
      height: 33px;
      cursor: pointer;
      transition: fill .8s ease-in-out;
    }
    & svg:hover path{
      fill: Color-mix(in srgb,white 80%,grey);
    }
    & nav a {
      font-size: 13.83px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-decoration: none;
      color: var(--nav-txt-clr);
    }
    & nav li:hover {
      cursor: pointer;
    }
    & nav li:hover a{
      color: Color-mix(in srgb,white 70%,grey);
    }
  }
  
  .header {
    width: var(--header-width);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 16px 12px;
    margin-bottom: 48px;
  }
  
  .header__buttons {
    display: flex;
    gap: 16px;
    & button {
      cursor: pointer;
      color: var(--nav-txt-clr);
      font-family: "Inter", serif;
      font-size: 13.83px;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0.2px;
    }
    & button:first-child {
      background-color: transparent;
      border: none;
    }
    & button:nth-child(2) {
      background-color: var(--nav-txt-clr);
      border: none;
      color: #E17537;
      min-width: 91px;
      height: 33px;
      border-radius: 16.5px;
    }
    & button:nth-child(2):hover{
      background-color: color-mix(in srgb, var(--nav-txt-clr) 90%, black 10%);
    }
    & button:first-child:hover{
      color: color-mix(in srgb, white 80%, grey);
    }
  }
  
  .first__section {
    max-width: 1080px;
    width: var(--header-width);
    display: flex;
    margin-bottom: 128px;
  }
  
  .first__section-txt-content {
    width: 50%;
    
    & h1 {
      color: var(--h1-txt-clr);
      font-size: var(--h1-fs);
      font-family: "Inter", serif;
      line-height: 97px;
      letter-spacing: -4px;
      font-weight: 600;
      opacity: 0.8;
    }
    & p {
      font-family: "Inter", serif;
      font-size: var(--paragraph-fs);
      line-height: 28px;
      color: var(--paragraph-clr);
      font-weight: bold;
    }
  }
  .first__section-buttons {
    & button {
      border: none;
      min-width: 120px;
      height: 33px;
      border-radius: 16.5px;
      cursor: pointer;
    }
    & button:first-child {
      color: var(--nav-txt-clr);
      background-color: var(--fs-btn-clr);
    }
    & button:nth-child(2) {
      background-color: transparent;
    }
  }
  
  .first__section-img-content {
    width: 90%;
    position: relative;
  }
  
  .logos_wrapper > img {
    margin: 0 auto;
    cursor: pointer;
  }
  
  .logos_wrapper {
    max-width: min(1080px,95vw);
    margin-bottom: 100px;
    width: var(--header-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .button_start-now::after,
  .button_sign-in::after,
  .button_contact-sales::after{
    transition: all 0.2s ease-in-out;
  }
  .button_start-now:hover{
    background-color: color-mix(in srgb, var(--fs-btn-clr) 70%, rgb(23, 125, 184));
    scale: 1.01;
  }
  .button_contact-sales{
    scale: 1.01;
  }

  .button_sign-in{
    transition: all 0.3s ease-in-out;
  }
  .button_sign-in:hover{
    scale: 1.01;
  }

  .button_contact-sales::after,
  .button_start-now::after,
  .button_sign-in::after{
    display: inline-block; 
    width: 10px;
    height: 22px;
    margin-left: 5px;
  }
  .arrow-orange::after{
    content: url(../media/arrow-right_orange.png);
  }
  .arrow-white::after{
    content: url(../media/arrow-right_white.svg);
  }
  .arrow-blue::after{
    content: url(../media/arrow-right_blue.svg);
  }

  .button_contact-sales:hover::after,
  .button_start-now:hover::after,
  .button_sign-in:hover::after{
    transform: translateX(3px);
  }
  
  #gradient__animation{
    /* background-color: black; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    /* transform: rotate(-12deg); */
    transform: skew(-12deg) rotate(-12deg) scaleY(2.2) translateY(-100px);
    z-index: -1;
    pointer-events: none;
    background-color: whitesmoke;
    background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
    cursor: pointer;
    filter: blur(10px) saturation(0.3);
  }
  
  @media (width < 600px) {
    

    
    .first__section-txt-content h1{
      --h1-fs: 60px;
      font-size: var(--h1-fs);
    }
    .first__section-img-content {
      display: none;
      /* visibility: hidden; */
    }
    .first__section-txt-content {
      width: 100%;
    }
  }
  
  @media (width < 786px) {
    :root {
      --h1-fs: 63.13px;
    }
    .header__logo-nav nav {
      display: none;
      /* visibility: hidden; */
    }
    .header__buttons {
      display: none;
    }
    .logos_wrapper {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(2, 1fr);
      /* margin: 0 auto; */
      width: 100vw;
      overflow-x: hidden;
    }
    .logos_wrapper > img {
      margin: 0 auto;
    }
  }
  
  @media (width < 1080px) {
    :root {
      --header-width: 100%;
      --h1-fs: 78.21px;
      /* --ms-width: 95%; */
    }
    .header{
      width: 95%;
    }
    .first__section-txt-content{
      margin-left: 2vw;
    }
    .logos_wrapper{
      width: 95%;
    }
    /* .modular-solutions-wrapper *{
      flex-direction: column;
      align-items: center;
    } */
  }
  