.vl {
    border-left: 1px solid rgba(66, 71, 112, 0.06);
    height: 100%;
  }
  body{
    position: relative;
  }
  .vertical__lines-wrapper{
  display:flex;
  justify-content:space-between;
  width:min(1080px, 95vw);
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  
  }